/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family: 'Montserrat','sans-serif';
  background-color: hsl(30, 38%, 92%);
  font-size: 15px;
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.container{
  margin:30px auto;
  padding:0 30px;
}
.grid{
  max-width: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
}
.image{
  max-width: 100%;
  display:inherit;
}
.card-content{
  padding:35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pro-cat{
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
}
.pro-name{
  font-family: 'Fraunces', serif;
  font-size: 34px;
  line-height: 1em;
  color:hsl(212, 21%, 14%);
}
.pro-des{
  color: hsl(228, 12%, 48%);
  line-height: 1.6em;
}
.price{
  display:flex;
  align-items: center;
}
.current-price{
  font-family: 'Fraunces', serif;
  color: hsl(158, 36%, 37%);
  font-size: 25px;
  padding-right: 25px;
}
.old-price{
  color: hsl(158, 36%, 37%);
  text-decoration: line-through;

}
.ctn{
  background-color: hsl(158, 36%, 37%);
  border: none;
  padding:14px 0;
  border-radius: 12px;
  color:white;
  font-size: 14px;
  font-weight: 700px;
  cursor: pointer;
  transition: background-color .3s ease;
  width:100%;

}
.ctn:hover{
  background-color: hsl(158, 36%, 23%);
}
.ctn img{
  padding-right:15px;
}
@media only screen and (max-width:614px) {
  .grid{
    grid-template-columns: 1fr;
  }
  .image{
    max-height: 450px;
    width:100%;
    object-fit: cover;
  }
  .card-content{
    display:block;
  }
  .pro-cat,.pro-name,.pro-des,.price{
    padding-bottom: 23px;
  }
}
@media only screen and (max-width:375px) {
  .conatiner{
    margin:15px auto;
    padding: 0 15px;
  }
  .image{
    max-height: 290px;
  }
  .card-content{
    padding:24px;
  }
  .pro-cat,.pro-name,.pro-des,.price{
    padding-bottom: 16px;
  }
  .pro-name{
    font-size: 28px;
  }
  .pro-des{
    font-size: 12px;
  }
  .current-price{
    font-size:23px;
  }
  .ctn{
    padding: 12px 0;
    font-size: 14px;
  }
}
